@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-button {
  margin: 10px;
  font-size: 50px;
  background-color: rgb(124, 240, 255);
}

.link-button:hover {
  background-color: rgb(255, 128, 124);
  cursor: pointer;
}